**/.git
**/.gitmodules
**/node_modules
**/dist
**/.output
**/target
**/.svelte-kit
**/.next
**/.DS_Store
**/build
!apps/*/scripts/build/
!apps/*/src/**/build/
**/*.log
**/*.pem
.env
.env.*
!.env.example

# IDE and temporary files
**/.vscode
**/.idea
**/tmp
**/temp
**/.cache
**/coverage
**/.npm
**/.bun
**/.pnpm-store
**/.yarn
**/.cargo-ok
**/*.swp
**/*~
