[submodule "apps/scraper"]
	path = apps/scraper
	url = https://github.com/asepharyana/asepharyana-hub-scraper.git
[submodule "apps/hub"]
	path = apps/hub
	url = https://github.com/asepharyana/asepharyana-hub-hub.git
[submodule "apps/tools"]
	path = apps/tools
	url = https://github.com/asepharyana/asepharyana-hub-tools.git
[submodule "plugins/hub-guide"]
	path = plugins/hub-guide
	url = https://github.com/asepharyana/asepharyana-hub-hub-guide.git
[submodule "apps/llm-api"]
	path = apps/llm-api
	url = https://github.com/asepharyana/llm-api.git
